<div id="<%= dom_id friend %>" class="friendList">
  <p>
    <strong>TEST name:</strong>
    <%= link_to friend.first_name << "  " << friend.last_name, friend, 
        style: "text-decoration: none" %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Owner_ID:</strong>
    <%=  /\w+\@/.match User.find( friend.user_id ).email %>
  </p>

</div>
