
<div class="header" >
    <% if notice %>
        <p class="notice"> <%= notice %> </p>
    <% end %>

    <% if alert %>
        <p class="alert"> <%= alert %> </p>
    <% end %>

    Partials: 
    <%= link_to "Home", root_path, class:"root" %>
    <%= link_to "About", home_about_path, class:"about" %>
    <%= link_to "Friends", friends_path, class:"friend" %>
    <%= link_to "NewFriend", new_friend_path, class:"newFriend" %>

    <%# For devise_routes %>
    <div class="devise">
        <%= link_to "Sign Up", new_user_registration_path, class:"signUp" %>
        <%= link_to "Sign In", new_user_session_path, class:"signIn" %>
        <%= link_to "Sign Out", destroy_user_session_path, 
            data: { "turbo-method": :delete }, class:"signOut" %>
        <%= link_to "Edit Profile", edit_user_registration_path, class:"editProfile" %>
    </div>
  
</div>

<br>
